<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jhc.zx.dao.StudentMapper">
<!--
	<resultMap id="studentMap" type="cn.jhc.zx.entity.Student">
		<id property="id" column="s_id"/>
		<result property="name" column="s_name"/>
		<result property="age" column="age"/>
		<association property="clazz" column="clazz" javaType="cn.jhc.zx.entity.Clazz">
			<result property="clazz" column="clazz"/>
			<result property="clazzName" column="c_name"/>
		</association>
	</resultMap>
-->	
	<resultMap id="studentMap" type="cn.jhc.zx.entity.Student">
		<id property="id" column="s_id"/>
		<result property="name" column="s_name"/>
		<result property="age" column="age"/>
		<association property="clazz" column="clazz" javaType="cn.jhc.zx.entity.Clazz" select="cn.jhc.zx.dao.ClazzMapper.selectByStudentId"/>
	</resultMap>
	
	<select id="select" resultMap="studentMap">
		select * from student join clazz on student.clazz = clazz.clazz
	</select>
	
	<select id="getStudent" parameterType="int" resultMap="studentMap"> 
        select * from student join clazz on student.clazz = clazz.clazz where s_id=#{id}
    </select> 
    <delete id="deleteStudent" parameterType="int">
     	delete from student where s_id=#{id}  
 	</delete>
 	
 	<update id="updateStudent">
      update student 
      <trim prefix="set" suffixOverrides=",">
	      <if test="name!=null">
	      		s_name=#{name},
	      	</if>
	      	<if test="age!=-1">
	      		age=#{age},
	      	</if>
      </trim>
      <!-- 
      <set> increment
      	<if test="name!=null">
      		name=#{name},
      	</if>
      	<if test="age!=0">
      		age=#{age},
      	</if>
      </set>
       -->
      <where>
      	s_id=#{id}
      </where>
	</update>
	
	<insert id="insertStudent"  useGeneratedKeys="true" keyProperty="id">
        insert into student (s_name,age) values (#{name},#{age})
	</insert>
	
	<select id="findStudentByName" parameterType="cn.jhc.zx.entity.Student" resultMap="studentMap"> 
        select * from student join clazz on student.clazz = clazz.clazz
        <trim prefix="where" prefixOverrides="AND|OR">
        	<if test="name!=null">
	        	s_name like #{name} 
	        </if>
	        <if test="age!=0">
	        	and age = #{age}
	        </if>    
        </trim>
        <!--
        <where>
	        <if test="name!=null">
	        	name like #{name} 
	        </if>
	        <if test="age!=0">
	        	and age = #{age}
	        </if>   
        </where> 
  		-->
    </select> 
 
    <select id="findStudentByIds" parameterType="list" resultMap="studentMap"> 
        select * from student join clazz on student.clazz = clazz.clazz
         
        <foreach item="item" index="index" collection="list" open="where s_id in (" separator="," close=")">
        	#{item}
        </foreach>
        <!-- 
         <foreach item="item" index="index" collection="list" open="where" separator="or">
         	id=#{item}
         </foreach>
         -->
    </select> 
    
   <select id="findChooseBind" parameterType="cn.jhc.zx.entity.Student" resultMap="studentMap"> 
   		<if test="name!=null">
   			<bind name="pattern" value="'%'+_parameter.getName()+'%'"></bind>
   		</if>
        select * from student join clazz on student.clazz = clazz.clazz
        <choose>
        	<when test="name!=null">
        		where s_name like #{pattern}
        	</when>
        	<when test="age!=0">
        		where age=#{age}
        	</when>
        	<otherwise>
        		where s_id = 1
        	</otherwise>
        </choose>
   
    </select> 
    <select id="selectStudentByClazzId" parameterType="int" resultMap="studentMap">
    	select * from student where clazz = #{id}
    </select>
    
</mapper>